name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: DanAraujo1001
          template: classic
          base: header, community, repositories, metadata
          config_timezone: America/Sao_Paulo

          # Plugin de Linguagens (substitui bem o GitHub Stats)
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_details: percentage
          
          # Plugin de Hábitos (mostra horários de commit)
          plugin_habits: yes
          plugin_habits_from: 200
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_charts: no
          plugin_habits_trim: yes
